<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TelegramPhotoEditor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>75669BFE05373019023A5FD49C3103997B0F75A6</string>
				<key>dateExpires</key>
				<string>02.10.2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75669BFE05373019023A5FD49C3103997B0F75A6</string>
						<key>dateExpires</key>
						<string>02.10.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T5LKB74WC3</string>
						<key>name</key>
						<string>Magomed Turkaev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>75669BFE05373019023A5FD49C3103997B0F75A6</string>
						<key>dateExpires</key>
						<string>02.10.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T5LKB74WC3</string>
						<key>name</key>
						<string>Magomed Turkaev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T5LKB74WC3.com.turkaev.usman.TelegramPhotoEditor</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T5LKB74WC3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TelegramPhotoEditor.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>983fbe22-3284-4efe-bc54-7d9a8b0ff789</string>
				<key>dateExpires</key>
				<string>02.10.2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.turkaev.usman.TelegramPhotoEditor</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T5LKB74WC3</string>
				<key>name</key>
				<string>Magomed Turkaev</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
